<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 " >
                        <a [routerLink]="['/citasLicencias']"><div class="cartelLic"></div></a>
                    </div>
                    <div class="col-md-6">
                        <a [routerLink]="['/citasIssemym']"><div class="cartelIssemym"></div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  