<section class="jornada-container">
  <div class="jornada-card">
    <header class="jornada-header">
      <div class="logos">
        <img src="images/logos_suteym.png" alt="Logo Voluntariado" />
      </div>
      <!-- <h3 class="jornada-subtitle">Jornada de Afiliación</h3> -->
      <h1 class="jornada-title">
        Licencias para conducir  <span>2026</span>
      </h1>
      <p class="jornada-desc">
        <!-- Contra Influenza -->
      </p>
    </header>

    <p class="jornada-info">
      Trámite de licencias para conducir para personas servidoras públicas.
    </p>

    <div class="jornada-fechas">
      <div class="fecha">
        <p class="fecha-dia">08 de abril</p>
        <p class="fecha-lugar">Estacionamiento de la dirección general de comunicación social</p>
      </div>
      <!-- <div class="fecha">
        <p class="fecha-dia">5 de noviembre</p>
        <p class="fecha-lugar">Salón Benito Juárez</p>
      </div> -->
    </div>

    <p class="jornada-hora">
      De 09:00 a 17:00 horas <span></span>
    </p>

    <a routerLink="/auth/login" class="btn-registrar" [state]= "{ from: 'licencias' }">Registrarme</a>

    <footer class="jornada-footer">
      <p>
        Congreso del Estado de México<br />
        Plaza Hidalgo s/n, Col. Centro. Toluca, Edomex.
      </p>
      <p class="jornada-contacto">
        ☎ 722 279 6499 | 722 279 6599 | 722 822 4053
      </p>
    </footer>
  </div>
</section>