<section class="jornada-container">
  <div class="jornada-card">
    <header class="jornada-header">
      <div class="logos">
        <img src="images/logos_SUTEYM.svg" alt="Logo Voluntariado" />
      </div>
      <h3 class="jornada-subtitle">Jornada de Salud </h3>
      <h1 class="jornada-title">
        Jornada de salud y prevención <span> SUTEyM 2026</span>
      </h1>
      <p class="jornada-desc">
        Con el proposito de fortaleces las acciones preventivas y contribuir a la protección y el cuidado de la salud, actividades dirigida exclusivamente a las personas servidoras 
        públicas del Poder Legislativo del Estado de México.  
      </p>
    </header>

    <p class="jornada-info">
      La evaluación de salud y prevención comprenderá: 
    </p>
    <div class="jornada-list">
      <li>Examen de laboratorio (glucosa, colesterol y triglicéridos);</li>
     <li> Somatometría (tomaa de peso y talla);</li>
     <li> Papanicolau;</li>
     <li> Exploración de mama;</li>
     <li> Antígeno prostático (unicamente para hombres mayores de 40 años);</li>
     <li> Medicina general;</li>
     <li> Psicología; y</li>
     <li> Nutrición (hábitos alimenticios).</li>
    </div>
    
    <div class="jornada-fechas">
      <div class="fecha">
        <p class="fecha-dia">del 06 al 08 de Julio</p>
        <p class="fecha-lugar">Av. Hidalgo #1012, Barrio de san Bernardino, Toluca, México</p>
      </div>
      <!-- <div class="fecha">
        <p class="fecha-dia">5 de noviembre</p>
        <p class="fecha-lugar">Salón Benito Juárez</p>
      </div> -->
    </div>

    <p class="jornada-hora">
      De 9:00 a 18:00 horas <span></span>
    </p>

    <a routerLink="/auth/login" class="btn-registrar">Registrarme</a>

    <footer class="jornada-footer">
      <p>
        Congreso del Estado de México, Plaza Hidalgo s/n, Col. Centro. Toluca, Edomex.
      </p>
      <p class="jornada-contacto">
        ☎ 722 279 6499 | 722 279 6599 | 722 822 4053
      </p>
    </footer>
  </div>
</section>