<section class="jornada-container">
  <div class="jornada-card">
    <header class="jornada-header">
      <div class="logos">
        <img src="images/logos_suteym.png" alt="Logo Voluntariado" />
      </div>
      <h3 class="jornada-subtitle">Jornada de Salud</h3>
      <h1 class="jornada-title">
        Campaña <span>de vacunación</span>
      </h1>
      <p class="jornada-desc">
        Contra Influenza
      </p>
    </header>

    <p class="jornada-info">
      El Voluntariado del Congreso del Estado de México convoca a personas trabajadoras del Congreso y sus dependencias a participar en esta jornada gratuita.
    </p>

    <div class="jornada-fechas">
      <div class="fecha">
        <p class="fecha-dia">24 de febrero</p>
        <p class="fecha-lugar">Edificio San Rafael 108</p>
      </div>
      <!-- <div class="fecha">
        <p class="fecha-dia">5 de noviembre</p>
        <p class="fecha-lugar">Salón Benito Juárez</p>
      </div> -->
    </div>

    <p class="jornada-hora">
      De 9:00 a 13:00 horas <span></span>
    </p>

    <a routerLink="/auth/login" class="btn-registrar">Registrarme</a>

    <footer class="jornada-footer">
      <p>
        Congreso del Estado de México<br />
        Plaza Hidalgo s/n, Col. Centro. Toluca, Edomex.
      </p>
      <p class="jornada-contacto">
        ☎ 722 279 6499 | 722 279 6599 | 722 822 4053
      </p>
    </footer>
  </div>
</section>