<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Citas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Próximas citas</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Próximas citas</h6>
                <div class="p-2 text-white text-muted bg-light">
                    <strong>Fecha: {{fechaHoraActual}}</strong>
                </div>
                <div class="table-responsive">
                    <!-- <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Total</th>
                                <th></th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <strong>Total pendientes: </strong></td>
                                <td>{{tpendientes}}</td>
                                <td> <strong>Total atendidos:</strong> </td>
                                <td>{{tatendidos}}</td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <div style="width: 1300px;">
                        <div class="calendar-wrapper">
                            <full-calendar #fullcalendar [options]="calendarOptions"></full-calendar>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<ng-template #xlModal let-modal>
    <div *ngIf="data.horarios as eventos" class="scrollable-modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Citas {{eventos.evento}} del día: {{ fechaFormateadaM }} </h5>
            <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
        </div>
        <div class="modal-body w-100">
            <div *ngFor="let hora of eventos.horarios"> 
                <div class="border rounded p-2 mb-2">
                    <p><strong>Nombre:</strong> {{ hora.nombre}} | <strong>RFC:</strong> {{ hora.rfc }} | <strong>Clave ISSEMYM:</strong> {{ hora.issemym }} | <strong>Teléfono:</strong> {{ hora.num }} | <strong>Correo electrónico:</strong> {{ hora.correo }}</p>
                   <p><strong>Adscripción:</strong> {{ hora.adscripcion}}  </p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-sm btn-success d-flex align-items-center" (click)="descargarExcel(3)">
                <i class="bi bi-file-earmark-excel me-1"></i> Excel
            </button>
            <button class="btn btn-sm btn-danger d-flex align-items-center" (click)="descargarPDF(4)">
            <i class="bi bi-file-earmark-pdf me-1"></i> PDF
            </button>

            <button type="button" id="focus-target" class="btn btn-secondary" (click)="modal.close('by: close button')">Cerrar</button>
        </div>
    </div>
</ng-template>