<section class="jornada-container">
  <div class="jornada-card">
    <header class="jornada-header">
      <div class="logos">
        <img src="images/logos_suteym_2.png" alt="Logo Voluntariado" />
      </div>
      <h3 class="jornada-subtitle">Jornada de Afiliación</h3>
      <h1 class="jornada-title">
        Afiliación y credencialización  <span>del ISSEMYM</span>
      </h1>
      <p class="jornada-desc">
        <!-- Contra Influenza -->
      </p>
    </header>

    <p class="jornada-info">
      Trámite de credencialización destinado a personas servidoras públicas y familiares por <b> nuevo ingreso y reposición</b>.<br>
      Actualización de <b>carta testamentaria.</b>
    </p>

    <div class="jornada-fechas">
      <div class="fecha">
        <p class="fecha-dia">Marzo 24 | 25 </p>
         <p class="jornada-hora"> 10:30 a 16:30 horas</p>
      </div>
    </div>
   
    <p class="fecha-lugar"><b>ESTACIONAMIENTO DE LA DIRECCIÓN GENERAL DE COMUNICACIÓN SOCIAL</b><br>
    Pedro Ascencio 100, Colonia la Merced (Alameda), Centro Historíco Toluca, Estado de México, C.P. 50080</p><br>
   

    <a routerLink="/auth/login" class="btn-registrar" [state]= "{ from: 'issemym' }">Registrarme</a>

    <footer class="jornada-footer">
      <p>
        Congreso del Estado de México<br />
        Plaza Hidalgo s/n, Col. Centro. Toluca, Edomex.
      </p>
      <p class="jornada-contacto">
        ☎ 722 279 6499 | 722 279 6599 | 722 822 4053
      </p>
    </footer>
  </div>
</section>